.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #afebf3;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 40px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    margin: 20px 0;
    padding: 20px 0;
}

.sidebar ul li a:hover {
    background-color:#223133;
    color: #f0f0f0;
}