.sidebar {
    display: flex ;
    width: 200vh;
    height: 80px;
    position: fixed;
    background-image: linear-gradient(#caf9ff,#8ad6e0);
    padding: 20px;
}

.sidebar h2 {
    text-align: left;
}

.sidebar text {
    margin: 20px;
    width: 40px;
}

.sidebar text a {
    text-decoration: none;
    color: #333;

}

.sidebar a:hover {
    background-color:#223133;
    color: #f0f0f0;
}